.header_container {
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header_container h1 {
  color: var(--title);
  font-size: var(--title-size);
}
.header_container span {
  color: var(--red);
  font-weight: 700;
  font-size: var(--p-size);
}

.header_container p {
  max-width: 720px;
}