:root {
    --primary-color: #667085;
    --red: #8e2424;
    --base-white: #ffffff;
    --title: #101828;

    --p-size: 16px;
    --title-size: 48px;

}
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: var(--p-size);
    color: var(--primary-color);
}

li {
    position: relative;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}
